.section-two {
  background-color: #cbbeff;
  padding: 8% 0;
  /* position: relative; */
}

.section-two .hero_players_cards {
  position: relative;
  /* padding: 2%; */
}

.section-two .hero_players_cards .player_card_one {
  position: absolute;
  right: 100px;
  z-index: 1;
}

.section-two .hero_players_cards .player_card_two {
  position: absolute;
  right: 0px;
}
